.website {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  background-color: #FDFFFC;
  display: flex;
  justify-content: center;
}

* {

}

.pokemonHeader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #F71735;
  width: 100vw;
  box-shadow: 0px 2px 20px 2px #FDFFFC;
  font-weight: bold;
  z-index: 10000;
  border: 1px solid black;
}

.pokemonDescription {
  position: absolute;
  color: black;
  width: 90vw;
  text-align: center;
  text-shadow: 0px 0px 10px #CADBC0;
  animation: glow 1s infinite alternate linear;
}

@keyframes glow {
  to {
    text-shadow: 0px 0px 10px #493657;
  }
}

.pokedex {
  color: white;
  width: 95vw;
  background-color: #FDFFFC;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.cardCover:hover {
  opacity: 0.6;
  cursor: pointer;
}

.cardCover {
  overflow: hidden;
  padding: 2px;
  color: #FDFFFC;
  background-color: rgba(0,23,31,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00171F;
  box-shadow: 5px 5px 10px 1px black;
}


@media (min-width: 100px) and (max-width: 780px) {

 .pokemonHeader {
    height: 100px;
    font-size: 2em;
 }

  .pokedex {
    padding-top: 400px;
  }

  .cardCover {
    height: 300px;
    width: 250px;
    font-size: 1.5em;
    margin: 20px;
  }

  .pokemonIMG {
    width: 100px;
    height: 100px;
  }

  .pokemonDescription {
    font-size: 1.6em;
    margin-top: 200px;
    margin-bottom: 100px;
  }

}

@media (min-width: 780px) and (max-width: 1100px) {

 .pokemonHeader {
    height: 100px;
    font-size: 2em;
 }

  .pokedex {
    padding-top: 400px;
  }

  .cardCover {
    height: 350px;
    width: 250px;
    font-size: 2em;
    margin: 20px;
  }

  .pokemonIMG {
    width: 100px;
    height: 100px;
  }

  .pokemonDescription {
    font-size: 1.8em;
    margin-top: 200px;
    margin-bottom: 100px;
  }

}

@media (min-width: 1100px) {
 
 .pokemonHeader {
    height: 100px;
    font-size: 2em;
 }

  .pokedex {
    padding-top: 400px;
  }

  .cardCover {
    height: 350px;
    width: 250px;
    font-size: 1.8em;
    margin: 20px;
  }

  .pokemonIMG {
    width: 100px;
    height: 100px;
  }

  .pokemonDescription {
    font-size: 2em;
    margin-top: 200px;
    margin-bottom: 100px;
  }

}